
<div class="main-container"><div class="image"><img src="../../../assets/images/img_1.png" alt="img"></div>
  <div class="image2"><img src="../../../assets/images/img_3.png" alt="img"></div>
  <div class="heading">
    <h1 class="heading__title">HAPPINESS DASHBOARD</h1>
    <h1> Choose the poll you want to answer to!</h1>
  </div>
  <div class="cards" *ngFor="let poll of polls">
    <div class="card">
      <div class="card__icon"></div>
      <p class="card__exit"></p>
      <h2 class="card__title">{{poll.question}}</h2>
      <a class="card__link" routerLink= "/Question" routerLinkActive="active-link">VOTE!</a>
    </div>

  </div>

</div>
