<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="home-container">
  <div class="image"><img src="../../../assets/images/photo.jpg" alt="img"></div>
  <div class="image2"><img src="../../../assets/images/pollphoto.png" alt="img"></div>
  <div class="home-text">
    <h1> Welcome to </h1>
    <h1><span class="text">Happiness Dashboard!</span></h1>
  </div>
  <div class="home-buttons">
    <button class="b" routerLink= "Answer" routerLinkActive="active-link">Answer a poll</button>
    <button class="b" routerLink= "Create" routerLinkActive="active-link">Create a poll</button>
  </div>
</div>

